.axure{
	font-family: 'Open Sans', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
	font-size: 0.875rem;
	width: 100%;
	background: url("../img/bg/background\ 1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	padding-bottom: 38px;
}

.axure::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-color: rgba(0, 0, 0, 0.55);
}
.axure__header{
	margin-bottom: 57px;
}

.axure__title{
	text-align: center;
	padding: 58px 0px 0px 0px;
	color: #FFFFFF;
}

.axure__title:after {
	background-color: #FFFFFF;
	margin: 34px auto;
}

.axure__subtitle{
	color: #FFFFFF;
	font-family: 'Raleway','sans-serif';
	font-size: 1rem;
	font-weight: 300;
}

.axure__link{
	margin: 0 auto 0 auto;
	text-align: center;
	max-width: 135px;
	border: 1px solid #FFFFFF;
	cursor: pointer;
}

.axure__download{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 0.9375rem;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
	letter-spacing: 0;
}

@media (max-width: 576px){
	.axure__link{		
		max-width: 100%;
	}
}