.customers{
	font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.875rem;
	background-color: #F5F5F5;
}

.customers__header{
	margin-bottom: 67px;
}
.customers__title{
	padding: 80px 0px 0px 0px;
}

.customers__title::after{
	background-color: #EC7979;
	margin: 34px auto;
}

.customers__subtitle {
	max-width: 363px;
	margin: 0px auto;
	color: #86878B;
}
.customers__wrapper{
  padding-bottom: 120px;
  display: flex;
  justify-content: space-around;
  margin: 0 -15px;
  flex-wrap: wrap;
}

.customers__dialog__item{
	margin: 0 15px;
	max-width: 298px;
}

.customers__statement{
max-width: 298px;
background: #E2E2E2;
border-radius: 7px;
font-family: Open Sans;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: #86878B;
padding: 10px;
position: relative;
}

.customers__statement::after{
		content: '';
		width: 0; 
		height: 0; 
		border-left: 8.5px solid transparent; 
		border-right: 8.5px solid transparent; 
		border-top: 17px solid #E2E2E2;
		position:absolute;
		bottom: -12px;
		left: 39px;
		display: block;
}

.customers__photo{
	display: inline-flex;
	justify-content: center;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	margin: 22px 45px 0 45px;
}

.customers__name{
	display: inline-block;
	margin-top: 30px;
	vertical-align: top;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: center;
}

.customers__name::after{
	content: "Swimmer";
	font-style: normal;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	margin: 12px 0 0 35px;
	color: #86878B;
}

@media (max-width: 983px){
	.customers__dialog__item{
		margin-bottom: 30px;
	}
}

@media (max-width: 946px){
	.customers__title {
    padding: 4rem 0 0 0;
  }
  .customers__header{
	margin-bottom: 3.5rem;
}
.customers__wrapper{
	padding-bottom: 5rem;
	}
}

@media (max-width: 576px){
  .customers__title {
    padding: 3.15rem 0 0 0;
  }
  .customers__header{
	margin-bottom: 3rem;
	}
.customers__wrapper{
	padding-bottom: 3.15rem;
	}
}





