.description {
	width: 100%;
	font-family: "Open Sans", "Verdana", "Geneva", "Tahoma", "sans-serif";
	z-index: 0;
	position: relative;
}

.description__header {
	margin: 0 0 2rem 0;
}

.description__title {
	margin: 0px;
	padding: 2rem 0 0 0;
}

.description__title::after {
	background-color: #ff0000;
	margin: 1rem auto;
}

.description__subtitle {
	max-width: 363px;
	margin: 0px auto;
	color: #86878b;
}

.description__row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.description__column {
	max-width: 348px;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
}

.item-description__icon {
	margin: 0px auto 30px auto;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	border: 1px solid #ff0000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-description__image {
	color: #ff0000;
	font-size: 1.875rem;
	margin: 0px auto;
}

.item-description__title {
	text-align: center;
	text-transform: uppercase;
	margin: 0px 0px 16px 0px;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	color: #333333;
}

.item-description__text {
	text-align: center;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	color: #000000;
}

@media (max-width: 946px) {
	.description__title {
		padding: 2rem 0 0 0;
	}
}

@media (max-width: 576px) {
	.description__title {
		padding: 3.15rem 0 0 0;
	}
}
