.social{
	font-family: 'Open Sans', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
	font-size: 0.875rem;
	background: #F8EFEF;
}

.social__wrapper{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}

.social__title{
	margin-top: 14px;
	margin-bottom: 14px;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	text-align: left;
}
.social__subtitle{
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
	color: #86878B;
}
.social__list{
	margin-top: 34px;
	margin-bottom: 34px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 58%;
}

.social__icons{
	font-size: 2.5rem;
	display: inline-block;
	/* margin-left: 60px; */
}

	/* .social__icons:first-child{
		margin-left: 0;
	} */
.social__link{
		color: rgb(153, 149, 149);
		display: inline-block;
		transition-duration: 0.2s;	
}

.social__link:hover{
		transition-duration: 0.4s;
		transition-timing-function: ease;
		transform: scale(1.2);		
}

.social__facebook:hover{
		color:#4267B2;
		transition-duration: 0.1s;
		transition-timing-function: ease;
}

.social__twitter:hover{
		color:#1DA1F2;
		transition-duration: 0.1s;
		transition-timing-function: ease;
}

.social__google:hover{
		color:#FBBC05;
		transition-duration: 0.1s;
		transition-timing-function: ease;
}

.social__pinterest:hover{
		color:#E60023;
		transition-duration: 0.1s;
		transition-timing-function: ease;
}

.social__instagram:hover{
		color: #8a3ab9;
		transition-duration: 0.1s;
		transition-timing-function: ease;
}

.social__StumbleUpon:hover{
		color: #f74425;
		transition-duration: 0.1s;
		transition-timing-function: ease;
}

.social__wifi:hover{
		color: aqua;
		transition-duration: 0.1s;
		transition-timing-function: ease;
}

@media (max-width: 1025px){
	.social__title, .social__subtitle{		
		text-align: center;
	}
	.social__list{
		width: 100%;
	}
}

@media (max-width: 672px){
	.social__icons{		
		font-size: 30px;
	}
}



@media (max-width: 537px){
	.social__icons{		
		font-size: 1.875rem;		
	}
}

	@media (max-width: 442px){
		.social__icons{		
			font-size: 1.25rem;			
		}
	} 
	

	
	

	



	

	